<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Chatter on Rails
      </h4>

      <p>
        Let's chat about it
      </p>

      <hr />

      <p>
        Create or Join a Room to begin
      </p>
    </div>
  </div>
</div>